body {
    background-color: #142036;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
}

.container-wrapper {
    display: flex;
    width: 300%;
    transition: transform 3s ease;
    position: relative;
}

.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FCF4DA;
    position: relative; 
}
/* 
    .screen1 { background-color: red; opacity: 0.2;}
    .screen2 { background-color: green; opacity: 0.4;}
    .screen3 { background-color: #172541; }  */