#traffic-sign {
    position: absolute;
    top: 6%; 
    left: 19%; 
    height: 100%;
    transform-origin: bottom center; 
    animation: balance2 3s ease-in-out infinite;
}

#intro-phrase{
    position: absolute;
    top: 21%; 
    left:45%;
    font-size:20px;
    color:#FCF4DA;
}

#intro-title {
    position: absolute;
    top: 22%; 
    left: 45%;
    font-size: 50px;
    color: #FCF4DA;
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
}
#light{
    position: absolute;
    top: 44%; 
    left: 64%;
    animation: blink 2.5s infinite;
    transform-origin: left center; 
    animation: balance 2s ease-in-out infinite;
}

.truck-mov {
    position: absolute;
    top: 60%; 
    left: 39%; 
    animation: balance 2s ease-in-out infinite;
}

#truck {
    height: 150px;
    margin-bottom: 8%;
    z-index: 2; 
}

#rectangle {
    width: 100%;
    height: 10%;
    background-color: #101920; 
    position: absolute; 
    top: 85%; 
    left: 0;
    z-index: 0; 
}

.wheel {
    position: absolute;
    height: 70px;
    animation: rotate 1s linear infinite;
    bottom: 0%;
    z-index: 2;
    transition: all 3s ease; /* Ensure smooth transition of wheels */
}
#wheel1 { left: 70px; }
#wheel2 { left: 140px; }
#wheel3 { left: 265px;}

#go{
    position: absolute; 
    top:42%;
    left: 45%;
    background: #F5A21E;
    border-style: solid;
    border-width: 1px;
    border-color: #FFF3D0;
    color: #FDF3E4;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    height: 40px; 
    width: 200px; 
    cursor: pointer;
    box-shadow: 
        0 1px 2px rgba(255, 244, 209,1), 
        0 4px 8px rgba(253, 170, 47, 1); 
    transition: transform 0.3s ease; 
}

#go:hover { 
    transform: scale(1.1); 
    box-shadow: 
        0 4px 8px rgba(255, 244, 209,1), 
        0 4px 8px rgba(253, 170, 47, 1); 
}

@keyframes blink {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes balance {
    0%, 100% { transform: rotate(-2deg); }
    50% { transform: rotate(2deg); }
}

@keyframes balance2 {
    0%, 100% { transform: rotate(-6deg); }
    50% { transform: rotate(-1deg); }
}

@keyframes scaleDown {
    0% {
        transform: scale(1); /* Tamaño original */
    }
    100% {
        transform: scale(0.33); /* Reducir al 33% del tamaño original, lo que los hace de 150px a 50px */
    }
}

/* Aplicar animación a los elementos */
.truck-mov, #truck, #light, .wheel {
    /* La animación ahora se aplica dinámicamente desde JavaScript */
    transition: transform 6s ease-in-out;
}